<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">MongoScraper</a>
            <a id="homeNav" href="/">Home</a>
            <a id="saveNav" href="/saved">Saved Articles</a>
        
            <button id="newArticles"class="waves-effect waves-light btn">New Articles!</button>
            <button id="clearArticles"class="waves-effect waves-light btn">Clear Articles</button>
    </div>
</nav>
    
<div id="title-box">
<h1 id="title">Mongo Scraper</h1>
<h3 id="title2">From the BBC</h3>
</div>
<ul id="article-list">
    {{#each Article}}
    {{> article saved=false}}
    {{/each}}
</ul>
