<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">MongoScraper</a>
            <a id="homeNav" href="/">Home</a>
            <a id="saveNav" href="/saved">Saved Articles</a>
        
            <button id="newArticles"class="waves-effect waves-light btn">New Articles!</button>
            <button id="clearArticles"class="waves-effect waves-light btn">Clear Articles</button>
    </div>
</nav>
    
<div id="title-box">

<h1 id="title">Saved Articles</h1>
<h3 id="title2">Your saved articles</h3>

</div>
<ul id="savedArticle-list">
    {{#each Article}}
    {{> article saved=true}}
    {{/each}}
</ul>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Comments</h4>
  </div>
    <form  class=" noteTaker col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="blog" class="materialize-textarea"></textarea>
          <label for="blog">Comments</label>
        </div>
      </div>
      <button type="submit" id="submit" class="modal-close waves-effect waves-green btn-flat">Submit</button>
    </form>
</div>