#title-box {
    margin: 0 auto;
    height:550px;
    width:1530px;
    background-image: url("/images/bbc-news.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#newArticles {
    margin-right: 10px;
}
#article-list,
#savedArticle-list{
    margin-left: 17px;
}
.saveArt,
.commentNotes{
    position: absolute;
    margin-left: 1340px;
    margin-top:7px;
}
.titleA {
    margin-top: 0;
    background-color: lightsteelblue;
    color:black;
}
.commentArt {
    color: white;
    font-size: 20px;
}
#title, #title2 { 
    padding-left: 550px; 
    text-shadow: 2px 2px 5px blue;
    color: goldenrod;
 }
 #title {
     padding-top:150px;
 }
#title3 {
    background-color: maroon;
    color: white;
}
h5 {
    background-color: lightsteelblue;
    color:black;
}
li {
    box-sizing: border-box;
    background-color: maroon;
    height: 200px;
    margin: 0 auto;
}
a {
    color: white;
}